<div class="text-post">
	<div class="divider"></div>
	<div class="by-box">
		<div class="item">
			<div class="icon"></div>
			<p class="caps">Posted</p>
			<p class="date">{{ post.date | date_to_string }}</p>
			<p class="permalink">
				<a href="#">permalink</a>
			</p>
		</div>
	</div>
	
	<div class="item body">
	    <h2>{{ post.title }}</h2>
{% if truncate %}
{{ post.content | strip_html | truncatewords: 75 }}
{% else %}
{{ content }}
{% endif %}
<p><a href="{{ post.url }}" class="more-link">Read more...</a></p>
    </div>
</div>
