<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %} {{ page.title }} | {% endif %} Kevin Wood - Coder Extraordinaire</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
 		<link rel="stylesheet" href="/css/kwood.css">
 		<link rel="stylesheet" href="/css/pygments.css">
		<link rel="shortcut icon" href="/img/favicon.ico" />
        <script src="/js/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
		<div id="divider"></div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
		<div id="container">
			
			
			<div id="left">
				<div class="item" id="header">
					<a class="avatar" href="#">
						<div class="bubble">Hi!</div>
						<div class="kev"></div>
					</a>
				</div>
				<div class="item" id="nav">
					<ul>
						<li><a href="#">Posts</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			
			
			<div id="right">
				<div id="intro">
					<h1>Hi, I'm Kevin Wood</h1>
					<p><span>Hi, I'm Kevin Wood</span> and I am a coder and entrepreneur.  .</p>
				</div>
				
				{{ content }}
				
				
				
			</div>
			
		</div>
		


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>

