---
layout: default
---
{% assign post=page %}
{% include post.html %}

<!--
<div class="dribbble-post">
	<div class="divider"></div>
	<div class="by-box">
		<div class="item">
			<div class="icon"></div>
			<p class="caps">Posted</p>
			<p class="date">Feb 4th, 2013</p>
		</div>
	</div>
	
	<div class="item body">
		
		<div class="image-frame">
			<img src="img/segments/blog/image-test.png" />
		</div>
		
		<h2>New Dribbble Shot!</h2>
		<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, n</p>
		<p>
			<a href="#" class="button has-arrow">Check it out</a>
		</p>
	</div>
</div>


 -->